<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="title" class="display-4">Burger Shack!</h1>
    <h6>Create a Burger | Eat the Burger | Remake the Burger</h6>
  </div>
</div>

<div class="row">
	<div class="col-6 col-sm-6 col-md-6 col-lg-4" id="column1">
		<h2>Ready to Eat!</h2>
		<hr class="line">

			<ul>
				{{#each burger}}
					{{#unless devoured}}
					
						<span>{{this.burger_name}}</span><span>{{> burgers/burger-block id=this.id devoured=true}}</span>
					{{/unless}}
				{{/each}}
			</ul>
	</div>
	<div class="col-6 col-sm-6 col-md-6 col-lg-4" id="column2">
		
		<h2>Already Eaten!</h2>
		<hr class="line">
			<ul>
				{{#each burger}}
					{{#if devoured}}
						{{this.burger_name}}{{> burgers/burger-block devoured=false}}
					{{/if}}
				{{/each}}
			</ul>
	</div>

</div>
<br>
<div class="row">
		<div id="form" class=" col-6 col-sm-6 col-md-6 col-lg-6">
			<h2>Create a Burger!</h2>
			<hr class="line">

				<form class="create-form">
					<div class="form-group">
						<label for="bu">Burger Name:</label>
						<input type="text" id="bu" name="name">
					</div>
					<button type="submit" class="btn btn-outline-primary">Add Burger</button>
				</form>
		</div>
</div>