#body{
background-color: white;
color: red;
}
#title{
	font-weight: bold;
}
#column1 {
	font-weight: bold;
	border-style: solid;
	border-radius: 8px;
	border-width: 5px;
	border-color: red;
	margin-left: 10%;
}
#column2 {
	font-weight: bold;
	border-style: solid;
	border-radius: 8px;
	border-width: 5px;
	border-color: red;
	margin-left: 10%;
}
#form {
	font-weight: bold;
	border-style: solid;
	border-radius: 8px;
	border-width: 5px;
	border-color: red;
	padding-bottom: 15px;
	margin-left: 25%;
	margin-right: 25%;
}
input {
	width: 100%;
}
.line {
border-top: 1px solid red;
}
@media screen and (max-width: 992px) {
	#column1 {
		margin-left: 25%;
		margin-bottom: 15px;
	}
	#column2{
		margin-left: 25%;
	}
	#form {
		margin-left: 25%;
	}
}
@media screen and (max-width: 768px) {
	#column1 {
		margin-left: 25%;
		margin-bottom: 15px;
	}
	#column2{
		margin-left: 25%;
	}
	#form {
		margin-left: 25%;
	}
}
@media screen and (max-width: 576px) {
	#column1 {
		margin-left: 25%;
		margin-bottom: 15px;
	}
	#column2{
		margin-left: 25%;
	}
	#form {
		margin-left: 25%;
	}
}
